/*
*   Default settings
*/

/* VARS */
:root
{
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

/* No margin and font to all elements */
*
{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}