/******* IMPORTS **********/
@import "./settings.css";
@import "./components/components.css";
@import "./sections/sections.css";


/****** General ***********/

.fa-star {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

main 
{
    gap: 35px;
    display: flex;
    flex-direction: column;
}



a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

footer
{
    background-color: var(--main-bg-color);
    display: flex;
    justify-content: space-around;

    gap: 15px;
    padding: 20px;
}

footer .section
{

    display: flex;
    flex-direction: column;

    gap: 15px;
    padding: 20px;

}


/* ONLY DESKTOP */
@media (min-width: 1025px)
{
    /****** Hebergements ***********/
    .hebergements {
        width: 65%;
    }
}

/* NOT MOBILE */
@media (min-width: 767.99px)
{
    .main-container {
        width: 100%;
        max-width: 1440px;
        padding: 0 50px;
        box-sizing: border-box;
    }
}

/****** Hebergements ***********/
@media (max-width: 767.98px)
{
    .main-container {
        width: 100dvw;
        padding: 0;
        box-sizing: border-box;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }
}