.hebergements
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hebergements .host-cards
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements .host-cards .card
{
    width: 240px;
    overflow: hidden;
    border-radius: 20px;
    gap: 4px;
    display: flex;
    flex-direction: column;
}

.hebergements .host-cards .card .card-cover
{
    height: 124px;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.hebergements .host-cards .card .card-cover img
{
    width: 100%;
    margin-top: -58px;
}

.hebergements .host-cards .card .info
{
    display: flex;
    flex-direction: column;
    gap:8px;
    padding: 0px 15px 10px 15px;
}

.hebergements .host-cards .card .info .name
{
  font-weight: 700;
  font-size: 16px;
}

.hebergements .host-cards .card .info .price
{
    font-size: 14px;
    font-weight: 400;
}

#port { margin-top: -30px;}
#amina { margin-top: -150px;} 
#mouettes { margin-top: -20px;}
#canebiere { margin-top: -20px;} 
#panier { margin-top: 0px;} 

@media (max-width: 1024px)
{
    .hebergements
    {
        width: 100%;
    }
}