/*
*    Stylesheet of trends section
*/

.trends {
    width: 32%;
}

.trends .trends-title i
{
    color: var(--main-color);
}

.trends-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Trends Card */

.trends-cards .card {
    display: flex;
    margin-top: 33px;
}

.trends-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.trends-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.trends-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.trends-cards .card-subtitle {
    margin: 0;
}

.trends-cards .card-rating {
    margin-bottom: 5px;
}

/* Tablet device */
@media (max-width: 1024px) {
    .host-and-trend {
        flex-direction: column;
    }

    .hosts {
        width: 100%;
    }

    .trends {
        width: 100%;
        margin-top: 50px;
    }

    .trends-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .trends-cards a {
        width: 30%;
    }

    .trends-cards .card-title {
        font-size: 14px;
    }

    .trends-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Mobile */
@media (max-width: 767.98px) {
    .trends-cards {
        display: flex;
        flex-direction: column;
    }

    .trends-cards a {
        width: 100%;
    }
}